[submodule "libs/mach-gpu-dawn/libs/dawn"]
	path = libs/mach-gpu-dawn/libs/dawn
	url = https://github.com/hexops/dawn.git
	shallow = true
	branch = "generated-2022-04-18"
[submodule "libs/mach-gpu-dawn/libs/DirectXShaderCompiler"]
	path = libs/mach-gpu-dawn/libs/DirectXShaderCompiler
	url = https://github.com/michal-z/DirectXShaderCompiler.git
	shallow = true
	branch = "mach"
