# Ignore all files by default, but scan all directories
*
!*/

!*.c
!*.cpp
!*.inl
!*.hpp
!*.zig
!*.h
!*.hlsl
!*.hlsli
!*.m
!LICENSE*

!*.txt
!*.md
!*.bat
!*.gltf

!*.bin
!*.ttf
!*.png
!*.jpg
!*.hdr
!*.wav
!*.mp3
!*.flac
!*.blend
!*.hiplc

!.ignore
!.vimrc
!.gitkeep

!/libs/system-sdk/**
!/libs/zgpu/libs/**
!/libs/zwin32/bin/x64/*

# Ignore some special directories
zig-cache
zig-out
backup
