# Ignore all files by default, but scan all directories
*
!*/

!*.c
!*.cpp
!*.zig
!*.h
!*.txt
!*.hlsl
!*.hlsli

!README
!.ignore
!.vimrc
!.gitkeep

!/external/bin/dxc/dxc.exe
!/external/bin/dxc/dxcompiler.dll
!/external/bin/dxc/dxil.dll
!/external/bin/D3D12/D3D12Core.dll
!/external/bin/D3D12/D3D12Core.pdb
!/external/bin/D3D12/D3D12SDKLayers.dll
!/external/bin/D3D12/D3D12SDKLayers.pdb

# Ignore some special directories
zig-cache
zig-out
